:root {
  --bg: #e1ecf4;
  --fg: #1f1f2a;
  --text-secondary: #374151;

  --navbar-start: #8edee3;;
  --navbar-end: #5a9eb0;;
  --navbar-fg: #1a345e;

  --menu-bg: #a9d4ec;
  --menu-hover-bg: #82d4cb;
  --menu-fg: #1a345e;

  --modal-bg: #f4f4f7;
}

ul > li::marker {
  color: #2c4a5a;
}
