# General
**/node_modules/

# 🌐 AngularJS (client)
frontend-angularjs/node_modules/
frontend-angularjs/dist/
frontend-angularjs/logs/
frontend-angularjs/temp/
frontend-angularjs/.angular/
frontend-angularjs/.env

# 🧠 Visual Studio / .NET (server)
backend-csharp/bin/
backend-csharp/obj/
backend-csharp/out/
backend-csharp/*.user
backend-csharp/*.suo
backend-csharp/.vs/

# Ignore secret configs 
**/appsettings.Development.json
**/appsettings.Production.json

# Allow base configs
!**/appsettings.json
!**/appsettings.Docker.json


# 📦 NuGet
*.nupkg
packages/
*.snupkg

# 🚫 Sistema / editor
*.log
*.DS_Store
*.Thumbs.db
.vscode/
*.swp
*.tmp
.idea/

# 🔒 Backup temporanei
*~
*.bak
*.old
