# 🌍 General
**/node_modules/
*.log
*.tmp
*.swp
*.DS_Store
*.Thumbs.db
.idea/
.vercel
*.pem

# 📦 Output e log della root
/dist/
/logs/

# 🔒 Env & Configs
**/appsettings.Development.json
**/appsettings.Production.json
!**/appsettings.json
!**/appsettings.Docker.json

# 🧠 Visual Studio / .NET (server)
be-aspnet/monolith/bin/
be-aspnet/monolith/obj/
be-aspnet/monolith/out/
be-aspnet/monolith/*.user
be-aspnet/monolith/*.suo
be-aspnet/monolith/.vs/
*.nupkg
*.snupkg
packages/
temp/

# SpringBoot (java version server)
todolist-be-springboot/target/

# 🌐 AngularJS (legacy frontend)
fe-angularjs/monolith/node_modules/
fe-angularjs/monolith/dist/
fe-angularjs/monolith/logs/
fe-angularjs/monolith/.angular/
fe-angularjs/monolith/.env

# 🧪 Testing
/coverage
*.tsbuildinfo
next-env.d.ts

# 🚀 Next.js (current frontend: fe-reactjs)
fe-reactjs/monolith/.next/
fe-reactjs/monolith/out/
fe-reactjs/monolith/build/
fe-reactjs/monolith/logs/
fe-reactjs/monolith/temp/

# 🧙‍♂️ Storybook
*storybook.log
storybook-static

# 💾 Backup
*~
*.bak
*.old
*.tmp
