# 🌍 General
**/node_modules/
*.log
*.tmp
*.swp
*.DS_Store
*.Thumbs.db
.idea/
.vercel
*.pem

# 📦 Output and logs into root
/dist/
/logs/

# 🔒 Env & Configs
**/appsettings.Development.json
**/appsettings.Production.json
!**/appsettings.json
!**/appsettings.Docker.json

# 🧠 Visual Studio / .NET (server)
**/bin/
**/obj/
**/out/
**/*.user
**/*.suo
**/.vs/
*.nupkg
*.snupkg
packages/
temp/

# SpringBoot (Java version server)
**/target/
*.iml
**/application-dev.properties 

# 🌐 AngularJS (legacy frontend)
**/node_modules/
**/dist/
**/logs/
**/.angular/
**/.env

# 🧪 Testing
/coverage
*.tsbuildinfo
next-env.d.ts

# 🚀 Next.js (current frontend: fe-reactjs)
**/.next/
**/out/
**/build/
**/logs/
**/temp/

# 🧙‍♂️ Storybook
*storybook.log
storybook-static

# 💾 Backup
*~
*.bak
*.old
*.tmp
