@import "tailwindcss";

:root {
  --font-sans: "Geist Sans", Arial, sans-serif;
  --font-mono: "Geist Mono", monospace;

  --hover-darken: brightness(90%);

  --warning-bg: #ff8800;
  --success-bg: #16a34a;
  --error-bg: #e74c3c;
  --delete-bg: var(--warning-bg);
  --create-bg: var(--success-bg);
  --filter-bg: #ffbb00;
  --remove-filter-bg: var(--warning-bg);
}

body {
  font-family: var(--font-sans);
}
