@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: "Geist Sans", Arial, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: var(--font-sans);
}
