:root {
  --bg: #0b0b11;
  --fg: #d0d0e0;
  --text-secondary: #e5e5eb;

  --navbar-start: #2e0077;
  --navbar-end: #1a1a2b;
  --navbar-fg: #b8f8ff;

  --menu-bg: #1d1d26;
  --menu-hover-bg: #047878;
  --menu-fg: #b8f8ff;

  --modal-bg: #3e3e4a;
}

ul > li::marker {
  color: #82d4cb;
}
