:root {
  --bg: #f8f9f3;
  --fg: #252525;
  --text-secondary: #767676;

  --navbar-start: #cddaa3;
  --navbar-end: #8fa352;
  --navbar-fg: #1f1f1f;

  --menu-bg: #e5ebce;
  --menu-hover-bg: #b2c66e;
  --menu-fg: #1f1f1f;

  --modal-bg: #ffffff;
}

ul > li::marker {
  color: #1a345e;
}