$background-light: #F7F9FC;
$label-color: #1C2B3A;

$topbar-first-color: #6A11CB;
$topbar-second-color: #2575fc;

$filter-first-color: #FFD591;
$filter-second-color: #FFB370;

$gradient-topbar: linear-gradient(135deg, $topbar-first-color 0%, $topbar-second-color 100%);
